<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Membership Page</title>
</head>

<body>
  <div class="heading">
    <h2>歡迎光臨，這是會員頁</h2>
  </div>

  <div class="content">
    <h2>{{user}}，歡迎登入系統</h2>
    <p>
      <a href="/logout">登出系統</a>
    </p>

    <h2>查詢會員姓名</h2>
    <p>
      <input type="text" class="flask-input" id="search_username">
      <input type="button" value="查詢" id="search_button" onclick="getUser()">
      <input type="text" id="user_info" readonly style="border: 0px;">
    </p>
  </div>

</body>

<script>
  //建立XHR 物件
  function getUser() {
    var xhr = new XMLHttpRequest();
    var url = "api/users?username=" + document.getElementById("search_username").value;
    xhr.open("GET", url, true);//建立連線xhr.open('格式', '讀取網址', true非同步);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {//4:done,200：資料正確回傳
        var json = JSON.parse(xhr.responseText);//回應請求的字串資料(json)
        name = json.data[0].name;
        username = json.data[0].username;
        document.getElementById("user_info").value = name + "(" + username + ")"
      }
    };
    xhr.send();//傳送
  }
</script>
 
</html>
